@font-face {
    font-family: "Expert Sans Light";
    src: url(fonts/expert-sans-light.ttf);
}

@font-face {
    font-family: "Expert Sans Regular";
    src: url(fonts/expert-sans-regular.ttf);
}

@font-face {
    font-family: "Expert Sans Fourteen Lt";
    src: url(fonts/expert-sans-fourteen-lt.ttf);
}

@font-face {
    font-family: "Expert Sans Fourteen Bd";
    src: url(fonts/expert-sans-fourteen-bd.ttf);
}

html, body {
    height: 100%;
}

div#__next {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Expert Sans Light", "Arial", sans-serif;
    color: rgb(0, 47, 95);
    margin: 0;
}

/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

strong, b {
    font-weight: bold !important;
}
