@font-face {
  font-family: 'compass-iconset';
  src:
    url('fonts/compass-iconset.ttf?hkq6sv') format('truetype'),
    url('fonts/compass-iconset.woff?hkq6sv') format('woff'),
    url('fonts/compass-iconset.svg?hkq6sv#compass-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'compass-iconset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.action-tick:before {
  content: "\e908";
}
.action-edit:before {
  content: "\e907";
}
.action-hint-glow:before {
  content: "\e906";
}
.action-complete:before {
  content: "\e905";
}
.action-add:before {
  content: "\e904";
}
.action-cancel:before {
  content: "\e903";
}
.action-clear:before {
  content: "\e909";
}
.action-info-outline:before {
  content: "\e902";
}
.mailbox-report:before {
  content: "\e901";
}
.action-hint:before {
  content: "\e91f";
}
.action-warning:before {
  content: "\e93c";
}
.asset-class-OTHERS_sell:before {
  content: "\e94b";
}
.asset-class-OTHERS_buy:before {
  content: "\e94c";
}
.asset-class-OTHERS:before {
  content: "\e94a";
}
.navigation-add-portfolio:before {
  content: "\e944";
}
.asset-class-REAL_ESTATE:before {
  content: "\e945";
}
.transaction-deposit_GBP:before {
  content: "\e946";
}
.transaction-distribution_GBP:before {
  content: "\e947";
}
.transaction-tax_GBP:before {
  content: "\e948";
}
.transaction-withdrawal_GBP:before {
  content: "\e949";
}
.action-arrow-down-double:before {
  content: "\e92d";
}
.action-arrow-left-double:before {
  content: "\e92e";
}
.action-arrow-right-double:before {
  content: "\e92f";
}
.action-arrow-top-double:before {
  content: "\e930";
}
.action-expand-more:before {
  content: "\e931";
}
.action-previous:before {
  content: "\e932";
}
.action-next:before {
  content: "\e933";
}
.action-expand-less:before {
  content: "\e934";
}
.action-clear-old:before {
  content: "\e935";
}
.action-date:before {
  content: "\e936";
}
.action-download:before {
  content: "\e937";
}
.action-external-link:before {
  content: "\e939";
}
.action-filter:before {
  content: "\e93a";
}
.action-goal:before {
  content: "\e93b";
}
.action-info-solid:before {
  content: "\e93d";
}
.action-payments:before {
  content: "\e93e";
}
.action-plus:before {
  content: "\e93f";
}
.action-reset:before {
  content: "\e940";
}
.action-savings-plan:before {
  content: "\e941";
}
.action-search:before {
  content: "\e942";
}
.mailbox-agreement:before {
  content: "\e900";
}
.mailbox-statement:before {
  content: "\e90a";
}
.navigation-mailbox:before {
  content: "\e90b";
}
.navigation-home:before {
  content: "\e90c";
}
.asset-class-REAL_ESTATE_buy:before {
  content: "\e90d";
}
.asset-class-REAL_ESTATE_sell:before {
  content: "\e90e";
}
.asset-class-COMMODITIES_buy:before {
  content: "\e90f";
}
.asset-class-COMMODITIES_sell:before {
  content: "\e910";
}
.navigation-support:before {
  content: "\e911";
}
.asset-class-CORPORATE_BONDS:before {
  content: "\e912";
}
.asset-class-CORPORATE_BONDS_buy:before {
  content: "\e913";
}
.asset-class-CORPORATE_BONDS_sell:before {
  content: "\e914";
}
.asset-class-COVERED_BONDS_buy:before {
  content: "\e915";
}
.asset-class-COVERED_BONDS_sell:before {
  content: "\e916";
}
.asset-class-COVERED_BONDS:before {
  content: "\e917";
}
.transaction-deposit_EUR:before {
  content: "\e918";
}
.transaction-distribution_EUR:before {
  content: "\e919";
}
.asset-class-EQUITIES_buy:before {
  content: "\e91a";
}
.asset-class-EQUITIES_sell:before {
  content: "\e91b";
}
.asset-class-GOVERNMENT_BONDS_buy:before {
  content: "\e91c";
}
.asset-class-GOVERNMENT_BONDS_sell:before {
  content: "\e91d";
}
.chart-growth:before {
  content: "\e91e";
}
.navigation-logout:before {
  content: "\e920";
}
.navigation-portfolio:before {
  content: "\e921";
}
.chart-range:before {
  content: "\e922";
}
.navigation-settings:before {
  content: "\e923";
}
.transaction-tax_EUR:before {
  content: "\e924";
}
.transaction-withdrawal_EUR:before {
  content: "\e925";
}
.asset-class-CASH:before {
  content: "\e926";
}
.asset-class-COMMODITIES:before {
  content: "\e927";
}
.asset-class-EQUITIES:before {
  content: "\e928";
}
.transaction-fees_EUR:before {
  content: "\e929";
}
.transaction-fees_GBP:before {
  content: "\e92a";
}
.asset-class-GOVERNMENT_BONDS:before {
  content: "\e92b";
}
.chart-time-weighted-return:before {
  content: "\e92c";
}
